<div class="row">
  <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
    <div class="cart">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">products list</div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-success" (click)="openSidePanel()">
              New
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3 pt-2" *ngFor="let product of productsList">
            <div class="card">
              <img
                class="card-img-top"
                style="height: 12.125rem !important"
                [src]="product.image"
                alt="Card image"
              />
              <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>
                <p class="card-text">{{ product.category }}</p>
                <a class="btn btn-primary" (click)="onEdit(product)">Edit</a>
                <a class="btn btn-danger mx-2" (click)="onDelete(product)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4" *ngIf="isSidePanelVisible">
    <div class="cart">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">new products list</div>
          <div class="col-6 text-end">
            <button class="btn bt-sm btn-success" (click)="closeSidePanel()">
              Closed
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="col-6">
              <label for="">Name</label>
              <input
                type="text"
                [(ngModel)]="productObj.title"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="">Price</label>
              <input
                type="number"
                [(ngModel)]="productObj.price"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <label for="">Category</label>
              <select [(ngModel)]="productObj.category" class="form-select">
                <option class="text-primary" *ngFor="let cate of categoryList">
                  {{ cate }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="">Image Url</label>
              <input
                type="text"
                [(ngModel)]="productObj.image"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="">Product Description</label>
              <textarea
                rows="4"
                class="form-control"
                [(ngModel)]="productObj.description"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-success">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success" *ngIf="productObj.id == 0" (click)="onSave()">Create Product</button>
              <button class="btn btn-primary" *ngIf="productObj.id !==0" (click)="onUpdate()">Update Product</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
