<div class="row g-4">
    <div class="col-lg-6 col-xl-4" *ngFor="let product of productList">
      <div class="p-4 rounded bg-light min-width-100">
        <div class="row aline-item-center ">
          <div class="col-6">
            <img
              [src]="product.image"
              alt=""
              class="w-100 img-fluid rounded-circle"
            />
          </div>
          <div class="col-6">
            <a href="#" class="h5">{{ product.title }}</a>
            <div class="d-flex my-3">
              <i class="fas fa-star text-primary">1</i>
              <i class="fas fa-star text-primary">1</i>
              <i class="fas fa-star text-primary">1</i>
              <i class="fas fa-star text-primary">1</i>
              <i class="fas fa-star"></i>
            </div>
            <h4 class="mb-3">{{ product.price }}</h4>
            <a href="#" class="mb-3">{{ product.price}}</a>
            <a href="#" class="btn boder border-secundary rounded-pill px-3 text-primary"><i
              class="fa fa-shopping-bag m-2 text-primary"></i>Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
